

@media (min-width: 2500px) and (min-height: 500px){
    body {

    }
}

a {
    color: rgb(101, 137, 178);
    border-bottom: 1px dotted rgb(101, 137, 178);
    text-decoration: none;
}

html {
    background-color: #aad7ff;
}

header {
    background-color: #aad7ff;
    height: 70px;
    display: block;
}

footer {
    background-color: #ff8c00;

    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 30px;
}

img {
}

div {

}

body {
    font-family: ProximaNova, sans-serif;
    font-size: 14pt;
    color: #666666;
    //background-color: #aec6cf;
    background-image: url("../sketches/bears2.jpg");
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
}

.kass_name {
    font-family: ProximaNova, monospace;
    text-align: left;
    padding-left:20%;
    padding-top: 0;
    vertical-align: top;
    position:absolute;
    top:5px;
    margin:5px;
}


.wrapper {
    flex: 1 0 auto;
}

.baylands {
      display: block;

      max-width:250px;

      width: auto;
      height: auto;
    margin: 0 auto;
}

.slides {
    display: block;
    margin-left:auto;
    margin-right:auto;
}


.index_product {
    width: 250px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.8);

}

.set_of_three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;

}

.product_image {
    max-height: 400px;
}


.post_link {
    overflow: visible;
}

.price_text {
    text-align: center;
}

