

@media (min-width: 2500px) and (min-height: 500px){
    body {

    }
}

a {
    color: rgb(101, 137, 178);
    border-bottom: 1px dotted rgb(101, 137, 178);
    text-decoration: none;
}

html {
    background-color: #1d1d1d;
}

header {
    background-color: #1d1d1d;
    height: 30px;
}

footer {
    background-color: #1d1d1d;

    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 30px;
}

img {
}

div {
    border-style: dashed;
}

body {
    font-family: ProximaNova, sans-serif;
    font-size: 14pt;
    color: #666666;
    background-color: white;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
}


.wrapper {
    flex: 1 0 auto;
}

.baylands {
      display: block;

      max-width:250px;

      width: auto;
      height: auto;
    margin: 0 auto;
}


.index_product {
    width: 200px;
}

.set_of_three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product_image {
    max-height: 400px;
}