p {
    color: black;
}

img {
    max-height: 100px;

}

header {
    height: 100px;
    background-color: white;
}

.product_image {
    max-height: 400px;
}

.big_container {

    justify-content: center;
}

.top {
    background-color: lightblue;
    height: 100px;
}

.index_product {
    width: 200px;
}

.set_of_three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}