<html>

    <head>


        <link rel="stylesheet" href="css/pills.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="css/main.css">


    </head>

    <body>

        <header>



        </header>

        <div class="wrapper">

            <div class="row">
                <div class="two columns"></div>

                <div class="eight columns">

                    <img class="logo" align="center" src="https://kassiakarras.github.io/sketches/draftlogo.png">

                </div>

                <div class="two columns"></div>
            </div>



            <div class="row">


                <div class="four columns"></div>


                <div class="four columns">


                    <div class="kassia_title">



                        <h1 class="kassia_title_text">Kassia Karras</h1>

                        <img class="insta" src="instagram.png">


                    </div>



                </div>


                <div class="four columns"></div>

            </div>

            <div class="row">
                <div class="one columns">
                </div>

                <div class="ten columns">

                    <div class="flex">



                            <a target="_blank" href="shop" class="button_text">

                                <div class="left">

                                    <h1>Test</h1>

                                </div>
                            </a>



                        <div class="middle">

                            <a target="_blank" href="lookbook" class="button_text">lookbook</a>

                        </div>

                        <div class="right">

                            <a target="_blank" href="portfolio" class="button_text">portfolio</a>

                        </div>


                    </div>


                </div>

                <div class="one columns">

                </div>
            </div>


            <div class="row">
                <div class="two columns"></div>

                <div class="eight columns">

                    <div class="slideshow">

                        <img class="slides" src="sketches/housegirls.jpg">
                        <img class="slides" src="sketches/wild2.jpg">
                        <img class="slides" src="sketches/housedance.jpg">


                    </div>

                </div>

                <div class="two columns"></div>
            </div>



            <div class="row">


                <div class="whole">

                    {PRODUCTS}


                </div>


            </div>


    </div>

    <footer>

        <h1 align="center">Copyright stuff will go here!</h1>
        <a href="https://ethanhouston.com">Webmaster</a>

    </footer>

    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("slides");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
    </script>

    </body>


</html>



