<html>

    <head>


        <link rel="stylesheet" href="css/pills.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="css/main.css">


    </head>

    <body>

        <header>

            <h1 class="kass_name">Kassia Karras</h1>

            <img align="left" src="/sketches/draftlogo.png">

        </header>

        <div class="wrapper">


            <div class="row">
                <div class="two columns"></div>

                <div class="eight columns">

                    <div class="slideshow">

                        <img class="slides" src="img/1.JPG">
                        <img class="slides" src="img/2.JPG">
                        <img class="slides" src="img/3.JPG">


                    </div>

                </div>

                <div class="two columns"></div>
            </div>



            <div class="row">


                <div class="whole">

                    {PRODUCTS}


                </div>


            </div>


    </div>

    <footer>

        <h1 align="center">Copyright stuff will go here!</h1>

    </footer>

    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("slides");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
    </script>

    </body>


</html>



