<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="css/pills.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/main.css">


</head>
<body>

<header>

    <h1 class="title">Kassia</h1>

</header>

<!-- <img class="mySlides"  src="https://ethanhouston.com/img/baylands.JPG">
                <img class="mySlides"  src="https://ethanhouston.com/img/portrait.jpg">
                <img class="mySlides"  src="https://ethanhouston.com/img/qr.JPG"> -->



<img class="slidepicture" src="https://ethanhouston.com/img/portrait.jpg" >


<div class="big_container">

    <div class="row">
        <div class="one columns"></div>

        <div class="ten columns">

            <!-- <img class="mySlides" src="https://ethanhouston.com/img/portrait.jpg" > -->

        </div>

        <div class="one columns"></div>
    </div>


    <div class="row">

        <div class="one columns"></div>

            <div class="ten columns">


                <!-- Mayne need to add "twelve columns" or "whole"? This seems to work though -->
                    {PRODUCTS}

            </div>



            <div class="one columns"></div>


        </div>


</div>




    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
    </script>

</body>
</html>